*{
    box-sizing: border-box;
    font-family:  'Slabo 27px', serif;
}

img{
    width: 100%;
}

li{
    list-style-type: none;
    padding: 50px;
}
.container{
    padding: 0%;
    border: 0%;
    margin: 0%;
}
.portada{
    display: grid;
    width: 680px;
    height: 200px;
    background-image: url("../img/wood.webp");
    margin: 0%;
    border: 0%;
    
    
}
.titulo {
    display: grid;
    color:white;
    text-align: center; 
    padding: 2px;
    align-items: center;
    font-size: 70px;
    
}

.generos{
    display: grid;
    background-color: rgb(33, 37, 41);
    width: 680px;
    margin: 0%;
    border: 0%;
}

.palabra{
    display: grid;
    align-items: center;
    color: white;
    font-size: 30px;
}

.lista{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px;
}

.todos{
    display: flex;
    justify-content: space-evenly;

}

.todosimg{
    width: 100px;
    height: 100px;
}

.documentales{
    display: flex;
    text-align: center;
    align-items: center;
}


@media (min-width: 1024px){

    .generos{
        background-color: rgb(29, 53, 87);
        width: 100%;
        padding: 0;
    }
    .lista{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 5px;
    }

}