*{
    box-sizing: border-box;
    font-family:  'Slabo 27px', serif;
}

img{
    width: 100%;
}

li{
    list-style-type: none;
}

.imagen{
    background-image: url("/img/generos.jpg");
    background-size: cover;
    
}
.titulo {
    display: grid;
    color: white;
    text-align: center; 
    padding: 2px;
    align-items: center;
    
}
