*{
    box-sizing: border-box;
    font-family:  'Slabo 27px', serif;
    background-color: #1d3557;
}

img{
    width: 100%;
}

li{
    list-style-type: none;
}

/*CSS HEADER*/
.header{
    display: flex;
    background-color: #1D3557; /*es el mismo que el del fondo, asique hay que cambiarlo*/
    background-attachment: fixed;
}

.logo{
    width: 20%;
    height: 120px;
}

.fotologo{
    height: 120px;
    width: 200px;
}

.menu .opciones{
    width: 80%;
}

.opciones{
    display: flex;
}

.opciones li a{
    color: #caf0f8;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    padding: 60px;
    align-items: center;
}

.opciones li a:hover{ 
    text-decoration: underline;
}