*{
    box-sizing: border-box;
    font-family:  'Slabo 27px', serif;
    /*background-color: #1d3557;*/
}

img{
    width: 100%;
}

li{
    list-style-type: none;
    
}

/*CSS HEADER*/
.header{
    display: flex;
    background-color: rgb(33, 37, 41); 
    
}

.hlogo{
    width: 75px;
    margin: 0%;

}

.hfotologo{
    height: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-left: 12px;

}

.hmenu .hopciones{
    width: 50%;
    
}

.hopciones{
    display: flex;

}

.hopciones2{
    display: flex;
    
}

.hopciones2 li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 20px;

}

.hopciones li a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.hopciones li a:hover{ 
    text-decoration: underline;
}

.hopciones2 li a:hover{ 
    text-decoration: underline;
}

@media (min-width: 1024px){
    
    .hlogo{
        width: 120px;

    }
    
    .hfotologo{
        height: 70px;
        margin-top: 10px;
        margin-left: 12px;
    
    }
    
    .hmenu{
        display: flex;
        align-items: center;
    

    }

    .header{
        display: flex;
        justify-content: space-between;
    }

    .hopciones li a{
        padding: 50px;
    }

    .hopciones2 li a{
        padding: 50px;
    }


}