*{
    box-sizing: border-box;
    font-family:  'Slabo 27px', serif;
}

img{
    width: 100%;
}

li{
    list-style-type: none;
    padding: 0px;
    
}

/*CSS HEADER*/
.header{
    display: flex;
    background-color: rgb(33, 37, 41); 
    
}

.hlogo{
    width: 112px;
    margin: 0%;

}

.hfotologo{
    height: 75px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 12px;

}

.hmenu .hopciones{
    width: 50%;
    
}

.hopciones{
    display: flex;
    margin-left: 30px;
}

.hopciones2{
    display: flex;
    margin-left: 30px;
}

.hopciones2 li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 20px;

}

.hopciones li a{
    color:white;
    text-decoration: none;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.hopciones li a:hover{ 
    text-decoration: underline;
}

.hopciones2 li a:hover{ 
    text-decoration: underline;
}
/*CSS RESTOPAGINA*/
.restopagina{
    background-color: rgb(1, 22, 39);
}

.fotocover{
    /*background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;*/
    display: grid;
    width: 100%;
    height: 300px;
    background-image: url("../img/generos.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.elitslogan{
    position: absolute;
    top: 80px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px ;
    text-align: center;
    width: 100%;
    font-size: 2rem;
}

.section{
    color: white;
}
#ofertas{
    font-size: 20px;
    margin-left: 10px;
}
.product-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
    color: white;
}
article img:hover{
    opacity: 0.6;
}


/*CSS FOOTER*/
.footer{
    display: grid;
    background-color: rgb(33, 37, 41);
    width: 100%;
}

.logo{
    display: grid;
    width: 35%;
    height: 30%;
    text-align: center;
    align-items: center;
    margin-left: 33%;
   

}

.fotuli{
    display: grid;
    align-items: center;
    text-align: center;
   
}
.opciones{
    margin-right: 45px;
}
.opciones li{
    padding: 10px;
    margin: 0%;
}

.opciones li a{
    display: grid;
    color:white;
    text-decoration: none;
    font-size: 10px;
    justify-content: center;
    

}

.opciones li a:hover{ 
    text-decoration: underline;
}

.redes{
    display: grid;
    align-items: center;
    text-align: center;

}
h2 a{
    color:white;
    padding: 10px;
    text-align: center;
    font-size: 15px;

}


.copyright{
    display: grid;
    color: white;
    background-color: rgb(33, 37, 41);
    text-align: center;
    justify-content: center;
    font-weight: 0;
    font-size: 8px;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
}


/*Media Queries*/

@media (min-width: 1024px){
    /*media header*/
    .hlogo{
        width: 120px;

    }
    
    .hfotologo{
        height: 70px;
        margin-top: 10px;
        margin-left: 12px;
    
    }
    
    .hmenu{
        display: flex;
        align-items: center;
    

    }

    .header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1px;
        
        
    }

    .hopciones li a{
        padding: 50px;
        font-size: 20px;
    }

    .hopciones2 li a{
        padding: 50px;
        font-size: 20px;
    }
    /*media restopagina*/
    .fotocover{
        display: grid;
        width: 100%;
        height: 600px;
        background-repeat: unset; 
        position: relative;  
    }
    .elitslogan{
        position: absolute;
        top: 250px;
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 20px ;
        text-align: center;
        width: 100%;
        font-size: 3rem;
    }
    #ofertas{
        font-size: 25px;
    }
    .product-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }



    /*media footer*/
    .footer{
        display: flex;
        background-color: rgb(33, 37, 41);
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
    .fotuli{
        margin-left: 30px;
        height: 70px;
        width: 120px;
    }

    .logo{
        height: 50px;
        width: 75px;
        margin: 0%;

    }
    .opciones{
        display: flex;
        
    }
    
    .opciones li a{
        display: grid;
        color:white;
        text-decoration: none;
        font-size: 20px;
        margin-right: 30px;
        margin-left: 30px;
        align-items: center;
        text-align: center;
        
    }
    h2 a{
        color:white;
        font-size: 30px;
    
    }
    
    
    .copyright{
        display: grid;
        color: white;
        background-color: rgb(33, 37, 41);
        text-align: center;
        justify-content: center;
        font-weight: 0;
        font-size: 15px;
        width: 100%;
        margin-top: 0%;
        margin-bottom: 0%;
    }

}    
