*{
    box-sizing: border-box;
    font-family:  'Slabo 27px', serif;
    background-color: #1D3557;
    padding: 0;
}

img{
    width: 100%;
}


.container{
    display: flex;
}

.fotoportada{
    /*width: 40%;*/
}

.primeraparte{
    display: grid;
    grid-template-rows: 105px 35px 40px;
}

.button{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

button{
    border: solid;
    color: white;
    text-align: center;
    /*display: inline-block;*/
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 80%;
    height: 30px;
    /*align-items: center;*/
}

a{
    border: solid;
    color: white;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 80%;
    height: 30px;
    /*align-items: center;*/
}

.titulopeli {
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
    color: #90E0EF;
}

.abajotitulo{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    color: #CAF0F8;
    margin: 0;
}

.abajotitulo .datos h3{
    text-align: center; /*NO ME LO TOMA*/
}

.informacion{
    /*width: 60%;*/
    color: #CAF0F8;
    display: grid;
    grid-template-rows: 310px 50px 100px 50px;
}

.datos{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    
}

.resumen{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    
}

.resumen h3{
    font-weight: lighter;
    text-align: justify;
}

.datos h3 {
    padding-left: 10px;
    /**padding-top: 5px;**/
    font-weight: lighter;
    font-size: 18px;
}

.datos2 {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.datos2 h3{
    padding-left: 10px;
    /**padding-top: 5px;**/
    font-weight: lighter;
    font-size: 16px;
    
}

h2{
    text-decoration: underline;
    font-size: 16px;
    font-weight: lighter;
}

.critica{
    color: #CAF0F8;
}
