*{
    box-sizing: border-box;
    font-family:  'Slabo 27px', serif;
}

img{
    width: 100%;
}

li{
    list-style-type: none;
}

/*CSS HEADER*/
.header{
    display: flex;
    background-color: rgb(33, 37, 41); 
    
}

.hlogo{
    width: 112px;
    margin: 0%;

}

.hfotologo{
    height: 75px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 12px;

}

.hmenu .hopciones{
    width: 50%;
    
}

.hopciones{
    display: flex;
    margin-left: 30px;
}


.hopciones2{
    display: flex;
    margin-left: 30px;
}

.hopciones2 li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-left: 20px;

}


.hopciones li a{
    color:white;
    text-decoration: none;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.hopciones li a:hover{ 
    text-decoration: underline;
}

.hopciones2 li a:hover{ 
    text-decoration: underline;
}

/*CSS DETAIL*/
.primeraparte{
    display: grid;
    grid-template-rows: 105px 35px 50px;
    background-color: rgb(1, 22, 39);
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; 
}

.ver{
    border: solid;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 80%;
    height: 30px;
    margin: auto;
}

.buttons a:hover{ 
    background-color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
    color: black;
}

.titulopeli {
    text-align: center;
    font-size: 55px;
    color: white;
}

.primeraparte .titulopeli .titulo h1{
    align-items: center;
    margin-top: 10px;
}

.abajotitulo{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    color: white;
    margin: 0;
    margin-top: 8px;
}

.abajotitulo article h3{
    text-align: center; 
}

.fotodesktop{
    display: none;
}

.container{
    display: flex;
    background-color: rgb(1, 22, 39);
}

.informacion{
    color: white;
    display: grid;
    grid-template-rows: 380px 50px 100px 50px;
}

.datos{
    display: flex;
    margin-left: 40px;
    margin-right: 0;
}

.comedia{
    margin-left: 0;
    margin-right: 40px;
}

.datos h3 {
    padding-left: 10px;
    font-weight: lighter;
    font-size: 18px;
}

.comedia h3{
    padding-left: 10px;
    font-weight: lighter;
    font-size: 18px;
}

.datos2 {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.datos2 h3{
    padding-left: 10px;
    font-weight: lighter;
    font-size: 16px;
}

.datos3{
    display: none;
}

.resumen{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.resumen h3{
    font-weight: lighter;
    text-align: justify;
}

.tituloresumen{
    display: none;
}

h2{
    text-decoration: underline;
    font-size: 16px;
    font-weight: lighter;
}

/*CSS FOOTER*/

.footer{
    display: grid;
    background-color: rgb(33, 37, 41);
    width: 100%;
    border-top: 4px solid white;
}

.logo{
    display: grid;
    width: 35%;
    height: 30%;
    text-align: center;
    align-items: center;
    margin-left: 33%;
   

}

.fotuli{
    display: grid;
    align-items: center;
    text-align: center;
   
}

.opciones{
    margin-right: 45px;
}

.opciones li{
    padding: 10px;
    margin: 0%;
}

.opciones li a{
    display: grid;
    color:white;
    text-decoration: none;
    font-size: 10px;
    justify-content: center;
    

}

.opciones li a:hover{ 
    text-decoration: underline;
}

.redes{
    display: grid;
    align-items: center;
    text-align: center;

}
h2 a{
    color:white;
    padding: 10px;
    text-align: center;
    font-size: 15px;

}


.copyright{
    display: grid;
    color: white;
    background-color: rgb(33, 37, 41);
    text-align: center;
    justify-content: center;
    font-weight: 0;
    font-size: 8px;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
}

@media (min-width: 1024px){
   /*HEADER*/
   .hlogo{
    width: 120px;

    }

    .hfotologo{
         height: 70px;
        margin-top: 10px;
        margin-left: 12px;

    }

    .hmenu{
        display: flex;
        align-items: center;
    }

    .header{
         display: flex;
         justify-content: space-between;
        border-bottom: 1px solid white ;
    }

    .hopciones{
        margin-left: 0;
    }

    .hopciones2{
         margin-left: 15px;
    }

    .hopciones li a{
        padding: 50px;
        font-size: 20px;
    }

    .hopciones2 li a{
        padding: 50px;
        font-size: 20px;
    }


    /*DETAIL*/
    .fotoportada{
        display: none;
    }

    .primeraparte{
        grid-template-rows: 160px 35px 10px;
    }
    
    .abajotitulo{
        display: none;
    }

    .titulopeli{
        font-size: 70px;
        margin-top: 0;
    }

    .primeraparte .titulopeli .titulo h1{
        margin-top: 20px;
        font-size: 80px;
    }

    .fotodesktop{
        display: block;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .informacion{
        grid-template-rows: 40px 40px 40px 160px 40px 40px;
    }

    .tituloresumen{
        display: block;
    }

    .datos3{
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .datos3 h3{
        font-weight: lighter;
        margin-top: 13px;
        margin-left: 4px;
    }

    .resumen h3{
        margin-top: 13px;
        margin-left: 4px;

    }

    /*FOOTER*/
    .footer{
        display: flex;
        background-color: rgb(33, 37, 41);
        justify-content: space-between;
        width: 100%;
        align-items: center;
        
    }
    .fotuli{
        margin-left: 30px;
        height: 70px;
        width: 120px;
    }

    .logo{
        height: 50px;
        width: 75px;
        margin: 0%;
    }
    
    .opciones{
        display: flex;
        
    }
    
    .opciones li a{
        display: grid;
        color:white;
        text-decoration: none;
        font-size: 20px;
        margin-right: 30px;
        margin-left: 30px;
        align-items: center;
        text-align: center;
        
    }

    h2 a{
        color:white;
        font-size: 30px;
    
    }
    
    
    .copyright{
        display: grid;
        color: white;
        background-color: rgb(33, 37, 41);
        text-align: center;
        justify-content: center;
        font-weight: 0;
        font-size: 15px;
        width: 100%;
        margin-top: 0%;
        margin-bottom: 0%;
    }
}
