*{
    box-sizing: border-box;
    font-family:  'Slabo 27px', serif;
    background-color: #1d3557;
}

img{
    width: 100%;
}

li{
    list-style-type: none;
}


/*CSS PAGINA*/

.primera{
    display: flex;
}

.fotoportada{
    width: 50%;
}

.inormacion{
    width: 50%;
}

.titulopelicula{
    font-size: 80px;
    text-decoration: underline;

}
