*{
    box-sizing: border-box;
    font-family:  'Slabo 27px', serif;
}

img{
    width: 100%;
}
 
li{
    list-style-type: none;
}

/*CSS FOOTER*/

.footer{
    display: flex;
    background-color: rgb(29, 53, 87);
    justify-content: stretch;
}
.logo{
    height: 90px;
    width: 150px;
}

.opciones{
    display: flex;
}

.opciones li a{
    color:white;
    text-decoration: none;
    font-size: 20px;
    justify-content: center;
    padding: 60px;
    align-items: center;
}

.opciones li a:hover{ 
    text-decoration: underline;
}

h2 a{
    color:white;
    padding: 20px;
    text-align: right;
}

.copyright{
    display: grid;
    color: white;
    background-color: rgb(29, 53, 87);
    text-align: center;
    justify-content: center;
    font-weight: 0;
}

