img{
    width: 100%;
}

li{
    list-style-type: none;
}
.footer{
    display: flex;
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: rgb(23, 87, 100);
=======
=======
>>>>>>> Martina
    background-color: rgb(64, 128, 211);
    justify-content: stretch;
    width: 180;
    height: 100px;
    
}
.logo{
    width: 10%;
    height: 60px;
}
.palabras .lista{
    display: flex;
    text-align: center;
<<<<<<< HEAD
>>>>>>> Martina
=======
>>>>>>> Martina
    justify-content: space-between;

}

.lista li a{
    color: #03045e;
    padding: 20px;
    text-decoration: none;

}
.lista li a:hover{ 
    text-decoration: underline;
}
.copyright{
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: rgb(64, 128, 211);
=======
    background-color: rgb(211, 64, 64);
>>>>>>> Martina
=======
    background-color: rgb(37, 156, 53);
>>>>>>> Martina
    text-align: center;

}